<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=//10.86.88.61/eClaims/coInventory.Mini/DataBase/coInventory_Mini.db;Version=3;" />
    <add key="TenSYT" value="" />
    <add key="MaCSKCB" value="31-002" />
    <add key="MaChiNhanh" value="310021" />
    <add key="WebService" value="http://ws.bhyt247.com/eClaimWebService2/eClaimWS.svc/" />
    <add key="TenDangNhap" value="EAAAAO4ISkdBCZr3JKjMPRkv3iVG5DX9TD2f6NU8KaUKVg2V" />
    <add key="MatKhau" value="EAAAACXlF2lg-hmAJWivL-sq89I3yW9W-tkKzRkZbvPwb6bG" />
    <add key="Auth_Username" value="wseclaim" />
    <add key="Auth_Password" value="P@ssword" />
    <add key="Auth_Domain" value="" />
    <add key="TenUngDung" value="FPT.eClaim Desktop – Quản lý chi phí KCB BHYT" />
    <add key="TenPhienBan" value="1.0" />
    <add key="Revision" value="1" />
    <add key="PathXML" value="" />
    <add key="PathBackup" value="" />
    <add key="LinkUpdate" value="http://10.86.88.69/CapNhap/" />
    <add key="LinkBaoCao" value="www.bhyt247.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>