<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server_Name" value="" />
    <add key="user_Name" value="" />
    <add key="passwd" value="" />
    <add key="ten_CSDL" value="" />
    <add key="isConnect" value="false" />
	  <add key="kho" value="false" />
	  <add key="ConnectionString" value="Data Source=(local);Initial Catalog=QLKhoDienLuc;User ID=sa;password=123456;" />

  </appSettings>
</configuration>