<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server_Name" value="" />
    <add key="user_Name" value="" />
    <add key="passwd" value="" />
    <add key="ten_CSDL" value="" />
    <add key="isConnect" value="false" />
	  <add key="IDKho" value="false" />
	  <add key="ConnectionString" value="" />

  </appSettings>
</configuration>