<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server_Name" value="" />
    <add key="user_Name" value="" />
    <add key="passwd" value="" />
    <add key="ten_CSDL" value="" />
    <add key="isConnect" value="false" />
	  <add key="IDKho" value="false" />
	  <add key="ConnectionString" value="Data Source=(local);Initial Catalog=QLKhoDienLuc;User ID=sa;password=naruto;" />
    <add key="Report_PhieuNhapKho" value="G:\[_Svn\dienluchocmon_github\trunk\Source\Inventory.Report\Report_Nhap_Kho.rdlc" />
  </appSettings>
</configuration>